.global-red-color {
    color: red;
}

.global-green-color {
    color: green;
}

.global-blue-color {
    color: blue;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    transform: translate(-50%);
}